

.btn {
  background-color: initial;
  background-image: ( #414474);
  border-radius: 6px;
  /* box-shadow: rgba(52, 189, 205, 0.1) 0 2px 4px; */
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 10%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.btn:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}